<h3>Welcome to FaceDB Management System</h3>
<p>This is a server connecting Azure cognitive services and front end application.</p>
<hr>
<div>
  <h4>Create Face Group</h4>
  <label for="groupName">Face Group Name</label>
  <input type="text" id="groupName" placeholder="DefaultGroupName"><br>
  <textarea id="CgroupResult" rows="8" cols="80">Returned result will be here.</textarea><br>
  <input type="button" id="createFaceGroup" value="Create">
</div>
<hr>
<div>
  <h4>Create Person</h4>
  <label for="personName">Person Name</label>
  <input type="text" id="personName" placeholder="DefaultPersonName"><br>
  <textarea id="CpersonResult" rows="8" cols="80">Returned result will be here.</textarea><br>
  <input type="button" id="createPerson" value="Create">
</div>
<script type="text/javascript" src="./javascripts/index.js"></script>
